### Exercise 4.8

# Importing libraries

In [2]:
# import libraries
import pandas as pd
import numpy as np
import os

# Importing Dataset

In [3]:
#Import the 'orders_products_merged_update.pkl' dataset
path=r'C:\Users\swati\Instacart Basket Analysis'

In [4]:
#Step 1:Import dataset 'orders_products_merged_update' as ords_prods_merge
ords_prods_merge=pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_merged_update.pkl'))

# Grouping Data & Aggregating Variables

In [5]:
#Check the output 
ords_prods_merge.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Least busy,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Least busy,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Most orders
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regularly busy,Average orders
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders

In [6]:
# Check size of dataset
ords_prods_merge.shape

(32404859, 18)

In [7]:
#Step 2: Grouping & Aggregating 
ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [8]:
#Check above by other way
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

Step 3:Mean from 'department_id' is less as compare to subset.

### Create a loyalty flag using loc

In [9]:
#Step 4 :Create a loyalty flag for existing customers using the transform() and loc() functions.
ords_prods_merge['max_order']=ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [10]:
 # Deriving columns with loc()
ords_prods_merge.loc[ords_prods_merge['max_order']>40,'loyalty_flag']='Loyal customer'

In [11]:
ords_prods_merge.loc[(ords_prods_merge['max_order']<=40)&(ords_prods_merge['max_order']>10),'loyalty_flag']='Regular customer'

In [12]:
ords_prods_merge.loc[ords_prods_merge['max_order']<=10,'loyalty_flag']='New customer'

In [13]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Least busy,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Least busy,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Most orders,10,New customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regularly busy,Average orders,10,New customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders,10,New customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regularly busy,Most orders,22,Regular customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regularly busy,Most orders,22,Regular customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular customer

In [14]:
#Check Frequency of 'loyalty_flag'column
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [15]:
#Step 5:Multiple Aggregation
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','min','max','sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer    10.386336  1.0  99999.0  106814042.2
New customer      13.294670  1.0  99999.0   83011787.2
Regular customer  12.495717  1.0  99999.0  198391693.2

From above output ,prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [16]:
#Step 6: Create a spending flag for each user based on the average price across all their orders using given criteria
ords_prods_merge['avg_price']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [17]:
ords_prods_merge.loc[ords_prods_merge['avg_price']<10,'spending_flag']='Low Spender'

In [18]:
ords_prods_merge.loc[ords_prods_merge['avg_price']>=10,'spending_flag']='High Spender'

In [19]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,both,Mid range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low Spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Least busy,Average orders,10,New customer,6.367797,Low Spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Least busy,Most orders,10,New customer,6.367797,Low Spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,both,Mid range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low Spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,both,Mid range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low Spender
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low Spender
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low Spender
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low Spender
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low Spender
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,9.0,both,Mid range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low Spender
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,9.0,both,Mid range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low Spender
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low Spender
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender

In [21]:
#Check frequency of 'spending_flag' column
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low Spender     31770614
High Spender      634245
Name: spending_flag, dtype: int64

In [22]:
#Check the output
ords_prods_merge.shape

(32404859, 22)

In [23]:
#Step7:Create frequency flag that marks the regularity of a user’s ordering behavior to median in the “days_since_prior_order” column.
ords_prods_merge['median_freq'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [24]:
ords_prods_merge.loc[ords_prods_merge['median_freq'] > 20, 'order_freq_flag'] = 'Non-frequent customer'

In [25]:
ords_prods_merge.loc[(ords_prods_merge['median_freq'] > 10) & (ords_prods_merge['median_freq'] <= 20), 'order_freq_flag'] = 'Regular customer'

In [26]:
ords_prods_merge.loc[ords_prods_merge['median_freq'] <= 10, 'order_freq_flag'] = 'Frequent customer'

In [27]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_freq,order_freq_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid range product,Regularly busy,Least busy,Average orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid range product,Regularly busy,Least busy,Most orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,Mid range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,Mid range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,Mid range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,Mid range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,Mid range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender,10.0,Frequent customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,Mid range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low Spender,10.0,Frequent customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,Mid range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low Spender,10.0,Frequent customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender,10.0,Frequent customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender,10.0,Frequent customer

In [28]:
#Check frequency of 'order_freq_flag' column
ords_prods_merge['order_freq_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_freq_flag, dtype: int64

In [29]:
ords_prods_merge.shape

(32404859, 24)

# Exporting Dataset

In [31]:
#Step 9:Export dataframe as a pickle file
ords_prods_merge.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_merged_grouped_aggregated.pkl'))